# Dependencies
node_modules/

# Build outputs
dist/
build/
.next/
out/
*.tsbuildinfo

# Turbo
.turbo/

# Env
.env
.env.local
.env.*.local
!.env.example

# Editor
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

# Prisma
apps/api/prisma/migrations/dev.db*

# Coverage / test
coverage/
.nyc_output/

# Misc
.cache/
*.pid
.pnpm-store/
